.banner {
  border-radius: 8px;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 50px;

  &__image {
    width: 1200px;
    height: 128px;
    object-fit: cover;
    object-position: center;
  }
}
